
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink=""><b (click)="m2()">Home</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active"routerLink="/employee"><b (click)="m1()">Employee-Login</b><span class="sr-only">(current)</span></a>
      <a class="nav-link active" routerLink="/manager"><b (click)="m1()">Manager-Login</b></a>
      
    
    </div>
  </div>           
</nav>
<hr>
<div *ngIf="v" class="card text-white bg-secondary mb-3" style="max-width: 100rem;">

  <div class="card-header">WELCOME :)</div>
  <div class="card-body">
   
    <p class="card-text"> If you are an employee, select "employee-login" option <br>
    if you are a manager, select "manager-login" option <br>if you are neither of them, go back and play pubg 
  </p>
  </div>
</div>
<router-outlet></router-outlet>
