.center {


    margin: auto;
  
  
    width: 100%;
  
  
    border: 5px solid #0a0a01;
  
  
    padding: 10px;
  background-color: aqua;
 
  background-repeat: no-repeat;
  background-size: cover;
  
  }
 