<button type="button" class="btn btn-primary">
   Pending Tasks<span class="badge badge-light">3</span>
  </button><hr>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Task 1</div>
    <div class="card-body">
      <h5 class="card-title">submit code for testing</h5>
      <p class="card-text"></p>
    </div>
  </div>

 
 
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Task 2</div>
    <div class="card-body">
      <h5 class="card-title">Review the code</h5>
      <p class="card-text"></p>
    </div>
  </div>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Task 3</div>
    <div class="card-body">
      <h5 class="card-title">Fix the bug in employee module</h5>
      <p class="card-text"></p>
    </div>
  </div>